:root {
  --map-body-size: 384px;
  --map-border: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  min-height: max-content;
}

main {
  flex: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 10px 20px;
}

#map-bg {
  position: relative;
  background: url(map_background_checkerboard.png);
  background-size: 100% 100%;
  width: var(--map-body-size);
  height: var(--map-body-size);
  padding: var(--map-border);
  image-rendering: pixelated;
}

#map-bg canvas {
  position: absolute;
  width: var(--map-body-size);
  height: var(--map-body-size);
  top: var(--map-border);
  left: var(--map-border);
  image-rendering: pixelated;
}

main p {
  margin-bottom: 0;
}

input[type="number"] {
  width: 5em;
}
